*.ipynb_checkpoints
*.pyc
__pycache__/
1337/epoch=11-step=623.ckpt
1337/*
4017/*
outputs/*
2676/*
job_*
checkpoints*
new_kenya2/*
USA_summer.tar.gz
Kenya-001.zip
SatBird_data*
*.npy
*.tif
USA*
lightning_logs/
output*
*.out
*.log
*.save*
*.txt
pretrained_weights/
wc*
checklist*
EBD/

# Ignore environment files
satbird_env/

# Ignore logs from slurm jobs on Grat Lakes
logs/